spring:
  cache:
    type: none
  application:
    name: @project.artifactId@
    version: @project.version@
  jackson:
    default-property-inclusion: non_null
  kafka:
    bootstrap-servers: ${KAFKA_HOST:localhost}:${KAFKA_PORT:9092}
    security:
      protocol: ${KAFKA_SECURITY_PROTOCOL:PLAINTEXT}
    ssl:
      key-store-password: ${KAFKA_SSL_KEYSTORE_PASSWORD:}
      key-store-location: ${KAFKA_SSL_KEYSTORE_LOCATION:}
      trust-store-password: ${KAFKA_SSL_TRUSTSTORE_PASSWORD:}
      trust-store-location: ${KAFKA_SSL_TRUSTSTORE_LOCATION:}
  datasource:
    continue-on-error: true
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    url: jdbc:postgresql://${DB_HOST:postgres}:${DB_PORT:5432}/${DB_DATABASE:okapi_modules}
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog-master.xml
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  properties:
    physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
    implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
    hibernate:
      format_sql: true
  flyway:
    enabled: false

management:
  metrics:
    export:
      influx:
        enabled: false
  endpoints:
    web:
      base-path: /admin
      exposure:
        include: loggers
  endpoint:
    loggers:
      enabled: true
    health:
      defaults:
        enabled: false
      readinessstate:
        enabled: true

feign:
  client:
    config:
      default:
        loggerLevel: full

logging:
  level:
    org:
      springframework:
        cache: OFF

application:
  kafka:
    retry-interval-ms: 20000
    retry-delivery-attempts: 10
    listener:
      events:
        concurrency: 2
        topic-pattern: (${ENV:folio}\.)?(.*\.)?inventory.item
        group-id: ${ENV:folio}-mod-remote-storage-items-group

server.port: 8081
folio.tenant.validation.enabled: false
