spring:
  main:
    allow-bean-definition-overriding: true
  cache:
    type: none
  application:
    name: @project.artifactId@
    version: @project.version@
  jackson:
    default-property-inclusion: non_null
  kafka:
    bootstrap-servers: ${KAFKA_HOST:localhost}:${KAFKA_PORT:9092}
    security:
      protocol: ${KAFKA_SECURITY_PROTOCOL:PLAINTEXT}
    ssl:
      key-store-password: ${KAFKA_SSL_KEYSTORE_PASSWORD:}
      key-store-location: ${KAFKA_SSL_KEYSTORE_LOCATION:}
      trust-store-password: ${KAFKA_SSL_TRUSTSTORE_PASSWORD:}
      trust-store-location: ${KAFKA_SSL_TRUSTSTORE_LOCATION:}
  datasource:
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    url: jdbc:postgresql://${DB_HOST:postgres}:${DB_PORT:5432}/${DB_DATABASE:okapi_modules}
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog-master.xml
  jpa:
    show-sql: false
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
      ddl-auto: none
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: false
  sql:
    init:
      continue-on-error: true

management:
  endpoints:
    web:
      base-path: /admin
      exposure:
        include: info,loggers,health
  endpoint:
    loggers:
      enabled: true
    health:
      defaults:
        enabled: false
      readinessstate:
        enabled: true
  influx:
    metrics:
      export:
        enabled: false

feign:
  client:
    config:
      default:
        loggerLevel: full

logging:
  level:
    org:
      springframework:
        cache: OFF

application:
  kafka:
    retry-interval-ms: 20000
    retry-delivery-attempts: 10
    listener:
      events:
        concurrency: 2
        topic-pattern: (${ENV:folio}\.)?(.*\.)?inventory.item
        group-id: ${ENV:folio}-mod-remote-storage-items-group

server.port: 8081
folio.tenant.validation.enabled: false
folio:
  system-user:
    username: ${SYSTEM_USER_NAME:system-user}
    password: ${SYSTEM_USER_PASSWORD}
    permissionsFilePath: permissions/system-user-permissions.csv
    lastname: System
  okapi-url: ${OKAPI_URL:http://okapi:9130}
  environment: ${ENV:folio}


